@font-face {
	font-family: "San Francisco";
	src: local("SanFrancisco"),
		url("./fonts/SanFrancisco/SF-Pro-Display-Semibold.otf") format("opentype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "San Francisco";
	
}
body {
  background-color: #f5f5f5;
}
.App {
	text-align: center;
  margin-top: 30vh;
  
}
.header {
  padding-bottom: 30px;
}